In [1]:
import pandas as pd

In [2]:
movies = pd.read_csv('./CSV/movies.csv')
movies
#movies.head()
#movies.info()
# sentiment analysis
# one-hot encoding???

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
86532,288967,State of Siege: Temple Attack (2021),Action|Drama
86533,288971,Ouija Japan (2021),Action|Horror
86534,288975,The Men Who Made the Movies: Howard Hawks (1973),Documentary
86535,288977,Skinford: Death Sentence (2023),Crime|Thriller
86536,288983,UNZIPPED: An Autopsy of American Inequality (2...,Documentary

In [3]:
new = movies['title']
new

0                                         Toy Story (1995)
1                                           Jumanji (1995)
2                                  Grumpier Old Men (1995)
3                                 Waiting to Exhale (1995)
4                       Father of the Bride Part II (1995)
                               ...
86532                 State of Siege: Temple Attack (2021)
86533                                   Ouija Japan (2021)
86534     The Men Who Made the Movies: Howard Hawks (1973)
86535                      Skinford: Death Sentence (2023)
86536    UNZIPPED: An Autopsy of American Inequality (2...
Name: title, Length: 86537, dtype: object

In [4]:
title_sep = movies["title"].str.rsplit(" ", n=1, expand = True)
movies["Movie title"] = title_sep[0]
movies["year"] = title_sep[1]
movies.drop(columns=["title"], inplace=True)
movies

,movieId,genres,Movie title,year
0,1,Adventure|Animation|Children|Comedy|Fantasy,Toy Story,(1995)
1,2,Adventure|Children|Fantasy,Jumanji,(1995)
2,3,Comedy|Romance,Grumpier Old Men,(1995)
3,4,Comedy|Drama|Romance,Waiting to Exhale,(1995)
4,5,Comedy,Father of the Bride Part II,(1995)
...,...,...,...,...
86532,288967,Action|Drama,State of Siege: Temple Attack,(2021)
86533,288971,Action|Horror,Ouija Japan,(2021)
86534,288975,Documentary,The Men Who Made the Movies: Howard Hawks,(1973)
86535,288977,Crime|Thriller,Skinford: Death Sentence,(2023)
86536,288983,Documentary,UNZIPPED: An Autopsy of American Inequality,(2021)

In [5]:
#d = movies[movies.duplicated('title', keep=False)].sort_values("title")
#d.head(100)

In [6]:
#new_movies = movies.drop_duplicates("title")
#new_movies.info()

In [7]:
ratings = pd.read_csv('./CSV/ratings.csv')
ratings
#ratings.head()
#ratings.info()
#ratings.describe()
# bias? vikta värderna? medlet?
# timestamp, när satts rating. recomendera inte julfilm när det är inte Jul. TA B

          userId  movieId  rating   timestamp
0              1        1     4.0  1225734739
1              1      110     4.0  1225865086
2              1      158     4.0  1225733503
3              1      260     4.5  1225735204
4              1      356     5.0  1225735119
...          ...      ...     ...         ...
33832157  330975     8340     2.0  1091583256
33832158  330975     8493     2.5  1091585709
33832159  330975     8622     4.0  1091581777
33832160  330975     8665     3.0  1091581765
33832161  330975     8783     2.5  1091581799

[33832162 rows x 4 columns]

In [8]:
tags = pd.read_csv('./CSV/tags.csv')
tags
#tags.head()
#tags.info()
# medel upspelningstid? mer eller mindre medlet av speltid? gilar eller gilar inte? för varje person eller för alla?
# parsa info för att göra om till små bostäver, naturspråk procesning. likheter i taggarna, t.ex. skodisnamn. 
# bygga tagcloud, hitta gemensamma taggar i filmer, databas där man håller eda på hur lika filmer är beriende på deras taggar

         userId  movieId                  tag   timestamp
0            10      260         good vs evil  1430666558
1            10      260        Harrison Ford  1430666505
2            10      260               sci-fi  1430666538
3            14     1221            Al Pacino  1311600756
4            14     1221                mafia  1311600746
...         ...      ...                  ...         ...
2328310  330923   176599  politically correct  1507547491
2328311  330933     3317        coming of age  1351279384
2328312  330933     3317            sexuality  1351279389
2328313  330947     5782       Not Luc Besson  1154110902
2328314  330947    44191           comic book  1154271525

[2328315 rows x 4 columns]

In [9]:
# output lista av filmer, gär är värde filmer mellan 0 och 1, hur bra är film
# softmax, lista av 5 bästa, som fåt högst sanolikheten
# bara rating
# one-hot encoding på genre och lägga till rating, vi får cluster av punkter med olika rätings för an vis film, så försöker vi hitta algorithm t.ex KNN eller SVM
# tagar behövs vektorisera, tfidf, cosinus likhet
# logistic regression?